@model IEnumerable<Kutuphane.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p> 

@using Kutuphane.Models
@{
    var currentSearch = ViewData["CurrentSearch"] as string;
    var currentStatus = ViewData["CurrentStatus"] as ReadingStatus?;
}

<form method="get" class="row g-2 mb-3">
    <div class="col-auto">
        <input name="search"
               class="form-control"
               placeholder="Ada / Yazara / Tür'e göre ara"
               value="@currentSearch" />
    </div>

    <div class="col-auto">
        <select name="status" class="form-select">
            <option value="">Tümü</option>
            @foreach (var item in Html.GetEnumSelectList<ReadingStatus>())
            {
                var isSelected = currentStatus.HasValue &&
                item.Value == currentStatus.Value.ToString();
                <option value="@item.Value" selected="@(isSelected ? "selected" : null)">
                    @item.Text
                </option>
            }
        </select>
    </div>

    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Filtrele</button>
    </div>

    <div class="col-auto">
        <a class="btn btn-secondary" href="@Url.Action("Index")">Sıfırla</a>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
